chainlit==0.7.700
tiktoken==0.6.0
python-dotenv==1.0.0
langchain==0.1.17
langchain-openai==0.1.5
langchain_core==0.1.49
langchain-community==0.0.36
langchainhub==0.1.15
openai==1.25.1
qdrant-client==1.9.0
pandas==2.2.0
pymupdf

